
@{
    ViewData["Title"] = "Employee Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center">
    <h1>Employee Progress</h1>
    <a class="btn btn-lg btn-secondary" asp-action="Index">Back To Reports Dashboard </a>

</div>
<div class="text-center">
    <h3>Overall completion count per category</h3>
    <p style="white-space: normal;" class="badge badge-primary badge-pill">Modules Completed by this Employee / Total Modules available</p>
</div>
<div class="row mx-auto mt-3 mb-1">
    @foreach (var item in Model)
    {
        var splitEmployeeItem = item.Split(": ");
        <div class="card col-lg-4 bg-light mb-1 text-center" style="overflow-wrap:break-word;">
            <p><b>@splitEmployeeItem[0]</b></p>
            <p class="badge badge-primary badge-pill">@splitEmployeeItem[1]</p>
        </div>
    }
</div>
