@{

    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center">
    <h1>Reports Area</h1>
    <a class="btn btn-lg btn-secondary" asp-controller="Home" asp-action="Index">Back To Home Dashboard </a>
    <hr />

    <div class="row">
        <div class="col-4 text-center">
            <a asp-action="ModuleProgress" class="btn btn-lg ">
                <div class="card  bg-light">
                    <div class="card-body">
                        <h5 class="card-title"> Modules Overview</h5>
                        <p class="card-text">
                            View progress per module.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4 text-center">
            <a asp-action="CategoryProgress" class="btn btn-lg ">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title"> Category Overview</h5>
                        <p class="card-text">
                            View progress per category.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4 text-center">
            <a asp-action="EmployeeProgress" class="btn btn-lg ">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title"> Employee Overview</h5>
                        <p class="card-text">
                            View progress per employee.
                        </p>
                    </div>
                </div>
            </a>
        </div>


    </div>
</div>
