@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center">
    <h1>Reports Area</h1>
</div>
<div class="border">
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="btn-lg list-group-item list-group-item-action active"
                   id="list-category-list" data-toggle="list" href="#list-category" role="tab"
                   aria-controls="category">Category Statistics</a>

                <a class="btn-lg list-group-item list-group-item-action"
                   id="list-Progress-list" data-toggle="list" href="#list-Progress" role="tab"
                   aria-controls="Progress">Employee Progress Ranking</a>

                <a class="btn-lg list-group-item list-group-item-action"
                   id="list-Employees-list" data-toggle="list" href="#list-Employees" role="tab"
                   aria-controls="Employees">Number of Employees</a>

                <a class="btn-lg list-group-item list-group-item-action"
                   id="list-Training-list" data-toggle="list" href="#list-Training" role="tab"
                   aria-controls="Training">Number of Training Modules</a>

                <a class="btn-lg list-group-item list-group-item-action"
                   id="list-Modules-list" data-toggle="list" href="#list-Modules"
                   role="tab" aria-controls="Modules">Modules Statistics</a>
            </div>
        </div>

        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-category" r
                     ole="tabpanel" aria-labelledby="list-category-list">1</div>

                <div class="tab-pane fade" id="list-Progress"
                     role="tabpanel" aria-labelledby="list-Progress-list">2</div>

                <div class="tab-pane fade" id="list-Employees" role="tabpanel"
                     aria-labelledby="list-Employees-list">3</div>

                <div class="tab-pane fade" id="list-Training" role="tabpanel"
                     aria-labelledby="list-Training-list">4</div>

                <div class="tab-pane fade" id="list-Modules" role="tabpanel"
                     aria-labelledby="list-Modules-list">5</div>
            </div>
        </div>
    </div>
</div>
