@{
    ViewData["Title"] = "Module Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center">
    <h1>Module Progress</h1>
    <a class="btn btn-lg btn-secondary" asp-action="Index">Back To Reports Dashboard </a>

    <div class="mx-auto mt-5">
        <h5>Scroll</h5>
        <partial name="_ScrollDown" />
    </div>
</div>
<h3 class="text-center">There are @ViewData["TrainingCount"] modules.</h3>
<div class="row mt-4 text-center mx-auto">
    @foreach (var listItem in Model)
    {
        var splitTrainingItem = listItem.Split(": ");
        <div class="card col-lg-3 bg-light mb-1 text-center" style="overflow-wrap:break-word;">
            <p><b>Category:</b> @splitTrainingItem[0]</p>
            <p><b>Module:</b> @splitTrainingItem[1]</p>
            <p>
                <b>Completed by Employee(s):</b>
                <span class="badge badge-primary badge-pill">
                    @splitTrainingItem[2]
                    time(s).
                </span>
            </p>
        </div>
    }


</div>
<div class="text-center mt-3">
    <partial name="_ScrollUp" />
</div>
<script async defer src="~/js/scrollControls.js"></script>
