@model TrainingTracker.Models.Training

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<div class="jumbotron text-center">
    <h1>Are you sure?</h1>
    <h2>
        Training modules aren't recoverable. All employee progress for this module will also be deleted.
    </h2>
    <div>
        <hr />
        <form asp-action="Delete" class="mt-1 mb-1">
            <input type="hidden" asp-for="TrainingId" />
            <input type="submit" value="Delete @Model.CategoryName: @Model.ModuleName" class="btn btn-lg btn-danger" />
        </form>
        <a asp-action="Index" class="btn btn-lg btn-outline-primary mt-2">Back to List</a>
    </div>
</div>
