@model TrainingTracker.Models.Training

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <div class="jumbotron bg-light">
        <h1>Editing</h1>
        <h2>@Model.CategoryName: @Model.ModuleName</h2>
        <hr />
        <div class="row">
            <div class="col-6 mr-auto ml-auto">
                <form asp-action="Edit" class="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TrainingId" />
                    <div class="form-group">
                        <small class="badge-warning">
                            In order for parts of this app to work, it is <b>strongly</b> reccomended
                            that you follow the naming scheme for actual training categories at Screwfix.
                            <b>JollyDeck, SSOW New or SSOW Refresh.</b>
                            It is still possible to use a different name, but bear in mind the progress update buttons will
                            not work for a alternatively named category, as they look for JollyDeck, SSOW New and SSOW Refresh.
                        </small>
                        <hr />
                        <label asp-for="CategoryName" class="control-label"></label>
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ModuleName" class="control-label"></label>
                        <input asp-for="ModuleName" class="form-control" />
                        <span asp-validation-for="ModuleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-lg btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-lg btn-outline-secondary">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
