@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center">
    <h1>Manage your account</h1>
</div>
<div>
    <hr />
    <div class="row">
        <div class="col-sm-4 text-center">
            <partial name="_ManageNav" />
        </div>
        <div class="col-sm-8">
            @RenderBody()
        </div>
    </div>
    <hr />
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
