@{
    ViewData["Title"] = "Home Page";
    var dueReminderCount = ViewData["dueReminderCount"];
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="jumbotron">
            <div class="mt-3 mb-3">
                <img draggable="false" src="~/Media/screwfixlogo.png" alt="Screwfix Logo" height="75" width="300">
                <h1>Poole Parkstone</h1>
                <h2>Dashboard</h2>
            </div>
            <hr />
            <div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <a asp-controller="Employees" asp-action="Index" class="btn btn-lg">
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <h4 class="card-title"> <i class="fas fa-users"></i> Employees</h4>
                                    <p class="card-text">All registered employees at Poole Parkstone.</p>
                                    <h5 class="card-title">Features</h5>
                                    <div class="card-text small">
                                        <ul>
                                            <li>Create and Delete employees</li>
                                            <li>Edit employee details</li>
                                            <li>Add a note to employee file</li>
                                            <li>View employee progress</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a asp-controller="Trainings" asp-action="Index" class="btn btn-lg">
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <h4 class="card-title"><i class="fas fa-cogs"></i> Training</h4>
                                    <p class="card-text">Screwfix training content.</p>
                                    <h5 class="card-title">Features</h5>
                                    <div class="card-text small">
                                        <ul>
                                            <li>Create a training module/category</li>
                                            <li>Edit training module details</li>
                                            <li>Delete a training module</li>
                                            <li>Changes to training also update progress records</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a asp-controller="Reports" asp-action="Index" class="btn btn-lg ">
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <h4 class="card-title"><i class="fas fa-clipboard"></i> Reports</h4>
                                    <p class="card-text">Training/App Statistics.</p>
                                    <h5 class="card-title">Features</h5>
                                    <div class="card-text small">
                                        <ul>
                                            <li>View module statistics</li>
                                            <li>View category statistics</li>
                                            <li>View progress statistics</li>
                                            <li>View number of employees and modules</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a asp-controller="Reminders" asp-action="Index" class="btn btn-lg mb-2">
                            <div class="card mb-2 bg-light">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        @if (Convert.ToInt32(dueReminderCount) > 0)
                                        {
                                            <span class="btn btn-danger text-light">
                                                <i class="fas fa-bell"></i>
                                                @dueReminderCount
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="btn btn-success text-light">
                                                <i class="fas fa-bell"></i>
                                                0
                                            </span>
                                        }
                                        Reminders
                                    </h4>
                                    <p class="card-text">
                                        Reminders that you or a colleague have set.
                                    </p>
                                    <h5 class="card-title">Features</h5>
                                    <div class="card-text small">
                                        <ul>
                                            <li>Make dated and detailed reminders </li>
                                            <li>Edit and Delete reminders</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="mt-5 mb-5">
            <img draggable="false" src="~/Media/screwfixlogo.png" alt="Screwfix Logo" height="75" width="300">
            <h2>Training Tracker</h2>
        </div>
        <p class="text-danger">This app requires authentication, please log in.</p>
        <div class="mt-5 mb-4">
            <a class="btn btn-lg btn-primary text-light" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </div>

        <hr />
        <p>This app may contain confidential information.</p>
        <p> Unauthorised access to systems such as these are a breach of The Computer Misuse Act.</p>
        <hr />
    }
</div>
