@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Patrick Davis">
    <meta name="copyright" content="Patrick Davis">
    <title>@ViewData["Title"] - Poole Parkstone SFTT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/ace1e9fe5c.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-blue border-bottom box-shadow mb-3">
            <div class="container">
                <a style="white-space:nowrap;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-clipboard-list"></i> Training Tracker</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                        <partial name="_LoginPartial" />
                        <br />
                        <ul class="navbar-nav flex-grow">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Employees" asp-action="Index"><i class="fas fa-users"></i>  Employees</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Trainings" asp-action="Index"><i class="fas fa-cogs"></i> Training</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Reports" asp-action="Index"><i class="fas fa-clipboard" aria-hidden="true"></i> Reports</a>
                            </li>
                        </ul>
                        <br />
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-5 pt-5">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top text-center footer text-light bg-blue">
        <div class="container">
            &copy; 2020 - TrainingTracker - <a href="https://www.patrickdavis.co.uk" target="_blank">PJD</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
