@model TrainingTracker.Models.Employee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<div class="jumbotron text-center">
    <h1>Are you sure?</h1>
    <h2>
        Employees aren't recoverable. Any data associated with @Model.FirstName in this app is permanently deleted.
    </h2>
    <div>
        <hr />
        <form asp-action="Delete" class="mt-1 mb-1">
            <input type="hidden" asp-for="EmployeeId" />
            <input type="submit" value="Delete @Model.FirstName @Model.LastName" class="btn btn-lg btn-danger" />
        </form>
        <a asp-action="Index" class="btn btn-lg btn-outline-secondary mt-2">Back to List</a>
    </div>
</div>
