@model TrainingTracker.Models.Progress

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editing Employee Progress </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProgressId" />
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Employee</label>
                <select disabled asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <select hidden asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingId" class="control-label">Training Module</label>
                <select disabled asp-for="TrainingId" class="form-control" asp-items="ViewBag.TrainingId"></select>
                <select hidden asp-for="TrainingId" class="form-control" asp-items="ViewBag.TrainingId"></select>
                <span asp-validation-for="TrainingId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                </label>
            </div>
            <input name="employeeFirstName" hidden value="@Model.Employee.FirstName" />
            <input name="employeeLastName" hidden value="@Model.Employee.LastName" />
            <div class="form-group">
                <p>Save and redirect to @Model.Employee.FirstName's progress.</p>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
